@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&family=Bebas+Neue&display=swap');

* {
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    font-family: "Zen Kaku Gothic Antique", sans-serif; 
    background-color: #EAEAEA;
    margin: 0;
    padding: 0;
    height: 100%;
}

img {
    width: 100%;
    height: auto;
}

a {
    color: black; 
    text-decoration: none; 
  }
  
a:hover {
    text-decoration: underline; 
}

.text {
    display: flex;
}

.nome-capa {
    position: absolute;
    top: 50%;
    left: 18%;
    transform: translate(-50%, -50%);
    color: #94743f; 
    font-size: 16em; 
    font-family: "bebas neue";
    writing-mode: vertical-rl; 
}

.texto-capa {
    position: absolute;
    top: 80%;
    left: 18%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255); 
    font-size: 5.4em; 
}

.info {
    justify-content: center;
    margin: 50em auto;
    font-weight: lighter;
    color: rgb(104, 104, 104);
    text-align: center;
    font-size: 10px;
}

.foto1-style, .foto2-style {
    width: 14em;
}

.container-kits {
    display: flex;
    justify-content: center;
    margin: 15em auto; 
    height: 35em;
    align-items: center;
}

.kit01-bg, .kit02-bg, .kit03-bg, .kit04-bg {
    background-color: #9c835a;
    position: absolute;
    z-index: -1;
}

.kit01-bg{
    width: 20em;
    height: 20em;
    margin-bottom: 10em;
    margin-left: 10em;
}

.kit02-bg {
    height: 20em;
    margin-top: -3em;
    margin-right: -6em;
    width: 21em;
}

.kit03-bg {
    width: 24em;
    height: 18em;
    margin-top: 10em;
    margin-right: 7em;
    margin-top: 12em;
}

.kit04-bg {
    width: 18em;
    height: 15em;
    margin-left: 5em;
    margin-bottom: 15em;
}

.kit01-foto1-style {
    width: 18em;
    margin-right: 4rem;
}

.kit01-foto2-style {
    margin-top: 6em;
    width: 14em;
}

.kit02-foto1-style {
    margin-right: 2em;
    width: 16em;
    margin-top: 6em;
}

.kit03-foto1-style {
    margin-right: 1em;
    margin-top: 4em
}

.kit03-foto2-style {
    margin-top: 6em;
    width: 17em;
    margin-left: 2em;
}

.kit04-foto1-style {
    margin-bottom: 6em;
    margin-right: 2em;
    width: 12em;
}

.kit04-foto2-style {
    width: 16em;
}

.contact ul {
    display: flex;
    gap: 10rem;
    justify-content: center;
    list-style: none;
    font-weight: bolder;
}
